.root{
	border: 1px solid blue;
	font-family: "Segoe UI", "Courier New", "fantasy";
	/* background: rgba(0, 128, 0, 0.3) */
	background-image: url(meta2.jpg);
	background-position: right top;
	background-repeat: no-repeat;

}
body{
	background-color: lightblue;

}
div{
	padding-left: 4%;
	/* background: rgba(0, 0, 128, 0.3) */
	
}

p{
	padding-left: 4%;

	/*background: rgba(0, 0, 128, 0.3)*/
	
}